<div class="login-container">
    <h2>Edit Review</h2>
    <h3> Restaurant: {{ restaurant.name }} </h3>
   <form action="/submit_edited_review" method="post">
        <input type="hidden" id="restaurant_name" name="restaurant_name" value="{{ restaurant.name }}">
        <input type="hidden" id="reviewIndex" name="reviewIndex" value="{{ reviewIndex }}">
        <input type="hidden" id="reviewId" name="reviewId" value="{{ review._id }}">
        <input type="hidden" id="reviewer" name="reviwer" value="{{ review.username }}">
        
        <label for="content">Review Description:</label><br>
        <textarea id="content" name="content" rows="4" cols="50">{{ review.content }}</textarea><br>

        <button type="submit" name="action" value="edit">Edit Review</button>
        <button type="submit" name="action" value="delete">Delete Review</button>
        <!-- <button type="button" onclick="deleteReview('{{ review._id }}')">Delete Review</button> -->
        <input type="button" value="Back to Reviews Page" onclick="window.location.href='/view_home';">
    </form>
</div>
<img src="/common/logo2.png" class="logo" alt="Logo">
